html {

  /* Background */
  color: #1d1d1d;

  /* Navbar */
  color: #3b4047;

  /* Text */
  light:var(--brand-silver-300);
  dark: var(--neutral-900)

  /* Darks */
  color: #A3BAC3;
  color: #437C90;
  color: #74aabe;
  color: #4b6f7c;
  color: #5a686d;
  color: #9A998C;

  /* Lights */
  color: #EAEBED;
  color: #e5e7e8;
  color: #929d9f;
  color: #D1CCDC;

  /* Aggie Blue & Gold, digital */
  color: #022851; 
  color: #FFBF00;

  /* Rocky Mountain */






}  