/* ~~~~~ Nordstrand Precision CSS ~~~~~*/
/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

            Established 2025
								(◕ᴥ◕ʋ)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/* ---------------- Imports ---------------- */
/* Font Imports */
@font-face {
  font-family: 'Archivo';
  src: 
    url('../fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: 
    url('../fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\,wght.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
  font-family: 'Norse';
  src: 
    url('../fonts/Norse/norse.regular.otf') format('truetype');
}

@font-face {
  font-family: 'NorseBold';
  src: 
    url('../fonts/Norse/norse.bold.otf') format('opentype');
}

/* ---------------- Formatting ---------------- */
/* General Font Formatting */
body, input, select, textarea {
	color: black;
	font-family: 'Archivo', Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65em;
}

p, li {
	margin: 0 0 2em 0;
	font-family: 'Archivo', Helvetica, sans-serif;
}

/* Special Font Formatting */
strong, b {
	color: black;
	font-weight: 400;
}

em, i {
	font-style: italic;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
		color: black;
		line-height: 1em;
		margin: 0 0 1em 0;
		font-family: 'IBMPlexSans', Helvetica, sans-serif;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

h1 {
	font-size: 2.25em;
	line-height: 1.35em;
}

h2 {
	font-size: 2em;
	line-height: 1.35em;
}

h3 {
	font-size: 1.35em;
	line-height: 1.5em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

/* ---------------- Sections: Capabilities ---------------- */
.introContainer {
  /* Set a specific height */
  /* height: 50%; */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	height: 800px;
}

.introText {
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: var(--neutral-300);
	font-size: var(--font-xxl);
}

#introImage {
	background-image: url("../images/pexels-daniel-smyth-83914874-8865187.jpg");
}
